doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='stylesheet', href='/stylesheets/jquery.pagepiling.css')
        link(rel='stylesheet', href='/stylesheets/examples.css')
        script(src='https://cdn.bootcss.com/socket.io/1.3.2/socket.io.js')
        script(src='https://cdn.bootcss.com/jquery/2.1.3/jquery.js')
        script(src='/javascripts/index.js')
        script(src='/javascripts/CommentCoreLibrary.js')
        script(src='/javascripts/jquery.pagepiling.js')
        script(src='/javascripts/jquery.pagepiling.min.js')
        script(type='text/javascript').
            $(document).ready(function() {
            $('#pagepiling').pagepiling({
            menu: '#menu',
            anchors: ['page1', 'page2', 'page3'],
            sectionsColor: ['#bfda00', '#2ebe21', '#2C3E50', '#51bec4'],
            navigation: {'position': 'right','tooltips': ['Page 1', 'Page 2', 'Page 3']}
            });
            });

    body
        #my-player.abp(style='width:100%; height:100%; background:#000;overflow:hidden')
            
            ul#menu
                li.active(data-menuanchor='page1')
                    a(href='#page1') page1
                li(data-menuanchor='page2')
                    a(href='#page2') page2
                li(data-menuanchor='page3')
                    a(href='#page3') page3        

            div#pagepiling
                div#section1.section
                    video#abpVideo(poster="http://content.bitsontherun.com/thumbs/bkaovAYt-720.jpg" controls="none")
                        source(src="http://dd.yinyuetai.com/uploads/videos/common/E9E701411BDDC46EFD7F429E7093043A.mp4?sc=162fac57822c195" type="video/mp4")
                        p.warning Your browser does not support HTML5 video.
                    #my-comment-stage.container
                div#section2.section
                    h1 welcome to tocao
                div#section3.section
                    h1 draw for a prize    
            
        











        
